form {
    margin-top: 3rem;
} 
form input[name="city"], form input[name="country"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}
form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}
form input, .container ::-webkit-input-placeholder{
    color: white !important
}